<!doctype html>
<html lang="en">
    <%- include('./partials/head', { title })%>
    <body>
        <%- include('./partials/nav') %>
        <div class="px-5">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Stock
            </button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Stock ID</th>
                        <th scope="col">Product ID</th>
                        <th scope="col">Store ID</th>
                        <th scope="col">Stock Quantity</th>
                        <th scope="col">Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <% stock.forEach((item) => { %>
                        <tr>
                            <th><%= item.id  %></th>
                            <td><%= item.product_id  %></td>
                            <td><%= item.store_id  %></td>
                            <td><%= item.stock_quantity  %></td>
                            <td><%= new Date(item.last_restocked).toLocaleString()  %></td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=<%= "#" + item.id %>>
                                    Update Stock
                                </button>
                            </td>
                            <%- include('./partials/updateModal.ejs',  { formName: 'stockUpdateForm',  stock: item })  %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <%- include('./partials/addModal.ejs',  { formName: 'stockAddForm', stores, products })  %>

        </div>
    </body>
</html>
